html
head
  title
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='theme.css')
  link(rel='stylesheet', href='main.css')
  script(src="lib/angular/angular.min.js")
  script(src="lib/d3/d3.js")
  script(src='dist/d3Guage.js')
  script(src='dist/needleFactory.js')
  script(src='dist/guageService.js')
  script(src='main.js')

body(ng-app='demo', ng-controller='demoCtrl')

  header
    h1 Guage Style Settings

  .main.clearfix
    .column
      .item(ng-repeat="tier1Key in guageOptionKeys", ng-switch="isObject(data.guageOption[tier1Key])")
        div(ng-switch-when="true")
          h3 {{tier1Key}}
          div(ng-repeat="(tier2Key, tier2Value) in data.guageOption[tier1Key]", ng-switch="isObject(tier2Value)")
            div(ng-switch-when="true")
              h4 {{tier2Key}}
              div(ng-repeat="(tier3Key, tier3Value) in data.guageOption[tier1Key][tier2Key]")
                label(for="styleHeight") {{tier3Key}}
                input#styleHeight(type="text", ng-model="data.guageOption[tier1Key][tier2Key][tier3Key]")
            div(ng-switch-when="false")
              label(for="styleHeight") {{tier2Key}}
              input#styleHeight(type="text", ng-model="data.guageOption[tier1Key][tier2Key]")
        div(ng-switch-when="false")
          label(for="styleHeight") {{tier1Key}}
          input#styleHeight(type="text", ng-model="data.guageOption[tier1Key]")

    .column
      d3-guage(guage-option="data.guageOption")

  
