.chart-gauge {
  width: 400px;
  margin: 100px auto;
}
  
.chart-color1 {
  fill: #DEA82C;
}

.chart-color2 {
  fill: #E9621A;
}

.chart-color3 {
  fill: #e92213;
}
  
.needle,
.needle-center {
  fill: #464A4F
}
